# Général
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.log
*.lock

# Node
node_modules/
webui/node_modules/
webui/.vite/
webui/.svelte-kit/

# IDE
.DS_Store
.idea/
.vscode/

# GitHub / docs
.github/
docs/
tests/
*.md
