fastapi==0.115.7
uvicorn[standard]==0.34.0
pydantic==2.10.6
python-multipart==0.0.20

python-jose==3.4.0
passlib[bcrypt]==1.7.4
bcrypt==4.3.0

sqlalchemy==2.0.38
psycopg2-binary==2.9.9  # Si tu utilises PostgreSQL
# pymysql==1.1.1          # Sinon MySQL, décommenter
# pymongo                 # Sinon MongoDB, décommenter
# redis                   # Sinon Redis, décommenter

requests==2.32.3
aiohttp==3.11.11
aiofiles

loguru==0.7.3
asgiref==3.8.1

